.profile-content {
    width: 1512px;
}

.profile-content__inner {
    margin: 80px auto;
    width: 680px;
}

.content-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.content-form {
    margin: 60px 0;
}

.content-image {
    display: flex;
    align-items: center;
}

.content-image img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
    margin: 0 60px;
}

.content-image__button {
    border: 2px solid #FF5555;
    color: #FF5555;
    border-radius: 10px;
    width: 179px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-items {
    width: 680px;
    height: 92px;
    margin: 50px 0;
    font-size: 24px;
}

.content-items__input {
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    width: 680px;
    height: 55px;
    font-size: 24px;
    padding: 0 10px;
}

.content-items__button {
    width: 680px;
    height: 60px;
    background-color: #FF5555;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 26px;
    border: none;
    margin: 50px 0;
}

.error {
    color: #FF5555;
    font-size: 24px;
    margin: 0 auto;
}